/* ======================GOOGLE FONTS================================ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/* ========================VARIABLES CSS============================= */
:root {
  --header-height: 3.5rem;

  /* ============ Colors ========== */
  /* Color mode   HSL (hue,saturation, lightness)*/
  --first-color: hsl(18, 95%, 55%);
  --second-color: hsl(42, 98%, 52%);
  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(255, 4%, 70%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(255, 20%, 10%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /* ============ Font and typography ================ */
  /* 5rem = 8px | 1rem = 16px */
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2.25rem;
   --medium-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* ========= Font weight ==================== */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* =========== z index ============== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ============ Responsiv tipography =============== */
  @media screen and (min-width: 1150px) {
    :root {
      --big-font-size: 3.5rem;
     --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
    }
  }

  /* ================== BASE ==================== */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    position: relative;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* ================== REUSABLE CSS CLASSES ================   */
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
  }

  .section {
    padding-block: 5rem 1rem;
  }

  .section__title,
  .section__subtitle {
    text-align: center;
  }

  .section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
  }

  .section__subtitle {
    display: block;
    text-transform: uppercase;
    font-size: var(--medium-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    margin-bottom: 1.5rem;
  }

  .main {
    overflow: hidden;
  }

  /* ================== HEADER &  NAV ================== */
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color 0.4s;
    border-bottom: 1px solid var(--text-color-light);
  }

  .nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }

  .nav__logo span {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    transition: color 0.4s;
  }

  .nav__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
  }
 .phone{
  background-color: var(--first-color);
  /* display: block; */
  border-radius: 20px;
  padding: 0.5rem 1rem;
 }
  
  .nav__toggle,
  .nav__close {
    display: flex;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
    transition: color 0.4s;
  }


  /* Navigation for mobile device  */
  @media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--black-color);
      width: 80%;
      height: 100%;
      padding: 7.5rem 3.5rem 0;
      border-left: 2px solid var(--black-border);
      transition: right 0.4s;
    }
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }


  .phone span{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--white-color)
  }
   .phone i{
    font-size:var(--small-font-size);
    color: var(--white-color);
  }

  /* Show menu */
  .show-menu {
    right: 0;
  }

  /*  Change background header */
  .bg-header {
    background-color: var(--body-color);
    box-shadow: 0 4px 16px hsla(255, 90%, 8% 0.1);
  }

  .bg-header .nav__logo span,
  .bg-header .nav__toggle {
    color: var(--title-color);
  }
  /*  Active link */
  .active-link {
    color: var(--first-color);
  }

  /* =================== HOME ====================== */
  .pocetna {
    position: relative;
    background-color: var(--black-color);
  }
  .pocetna__container {
    position: relative;
    row-gap: 3rem;
    padding-block: 2.5rem 6rem;
  }
  .pocetna__content {
    row-gap: 2.5rem;
  }
  .pocetna__data {
    text-align: center;
  }
  .pocetna__title {
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
  }
  .pocetna__description {
    margin-bottom: 2.5rem;
    color: var(--text-color-light);
  }

  .pocetna__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .pocetna__info {
    display: flex;
    justify-content: center;
    column-gap: 4.5rem;
  }
  .pocetna__info-title {
    color: var(--second-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
  }
  .pocetna__info-description {
    font-size: var(--small-font-size);
    color: var(--white-color);
  }
  .pocetna__images {
    position: relative;
    justify-self: center;
  }
  .pocetna__img-1 {
    width: 400px;
   
  }
  /* .pocetna__img-2 {
    width: 150px;
    border: 5px solid var(--black-color);
    position: absolute;
    left: 0;
    bottom: -3.5rem;
  } */
  .pocetna__lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  /* =================== BUTTON --------------------- */
  .button {
    display: inline-flex;
    background: var(--first-color);
    color: var(--white-color);
    font-size: var(--medium-font-size);
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    transition: box-shadow 0.4s;
  }

  .button:hover {
    background: var(--white-color);
    color: var(--first-color);
  }

  .button__link {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--first-color);
  }

  .button__link span {
    font-weight: var(--font-semi-bold);
  }

  .button__link i {
    font-size: 1.5rem;
    transition: transform 0.4s;
  }

  .button__link:hover i {
    transform: translateX(0.25rem);
  }

 
  /* =================== USLUGE  ===================== */
  .servis {
    position: relative;
  }
  .servis__container {
    position: relative;
    row-gap: 3rem;
  }
  .servis__data {
    text-align: center;
  }
  .servis__description {
    margin-bottom: 2rem;
  }
  .servis__card {
    width: 260px;
    background-color: var(--container-color);
    border: 2px solid var(--gray-border);
    padding: 2rem 1rem 3.5rem;
    transition: border-color 0.4s;
  }
  .servis__card:hover {
    border-color: var(--first-color);
  }
  .servis__icon {
    width: 70px;
    height: 70px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .servis__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
  }

  .servis__shape {
    position: absolute;
    width: 100%;
    height: 245px;
    background-color: var(--black-border);
    bottom: 0;
    left: 0;
  }

  /* Swiper class */
  .swiper {
    margin-inline: initial;
    padding-bottom: 4rem;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: initial;
    bottom: 0;
    width: 32px;
    height: 32px;
    background-color: var(--container-color);
    box-shadow: 0 2px 8px hsla(255, 8%, 4% 0.1);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--title-color);
  }

  .swiper-button-prev {
    left: calc(50% - 3rem);
  }

  .swiper-button-next {
    right: calc(50% - 3rem);
  }

  /* =================== PROJEKTI ===================== */
  .projekti {
    background-color: (var(--white-color));
  }

  .projekti .section__title {
    color:var(--black-color);
  }

  .projekti__container {
    padding-block: 1.5rem 3rem;
  }

  .projekti__card {
    background-color: var(--container-color);
    border: 2px solid var(--gray-border);
    transition: border=color 0.4;
  }

  .projekti__card:hover {
    border-color: var(--first-color);
  }

  .projekti__data {
    padding: 1.5rem 1rem 3rem;
  }

  .projekti__title {
    display: block;
    margin-block: 0.5rem;
  }

  .projekt__date {
    display: block;
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-bottom: 1.5rem;
  }

  /* =================== KONTAKT===================== */
  .contact__container {
    row-gap: 3rem;
    padding-block: 1.5rem 3rem;
  }

  .contact__img{
    width: 350px;
    justify-content: center;
  }

  .contact__data {
    grid-template-columns: 230px;
    justify-content: center;
    row-gap: 1.5rem;
  }

  .contact__card {
    background-color: var(--container-color);
    border: 2px solid var(--gray-border);
    padding: 1.5rem 2rem;
    text-align: center;
    transition: bordre-color 0.4s;
  }

  .contact__card:hover {
    border-color: var(--first-color);
  }

  .contact__icon {
    width: 48px;
    height: 48px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin: 0 auto 1.25rem;
  }

  .contact__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
  }

  .contact__info {
    font-style: normal;
    font-size: var(--font-semi-bold);
  }

  .contact__social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }

  .contact__social-link {
    font-size: 1.5rem;
    color: var(--first-color);
    transition: transform 0.4s;
  }

  .contact__social-link:hover {
    transform: translateY(-0.25rem);
  }
  .svg{
    display: block;
    fill: blueviolet;
  }

  /* =================== FOOTER===================== */
  .footer {
    background-color: var(--black-color);
    color: var(--text-color-light);
    padding-block:3.5rem 2rem;
  }

  .footer__container {
    row-gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--black-border);
  }

  .footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
  }

  .footer__logo span {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
  }

  .footer__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
  }

  .footer__description {
    margin-block: 2rem;
  }

  .footer__email,
  .footer__info {
    font-style: normal;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 4rem 3rem;
  }

  .footer__title {
    font-size: var(--h2-font-size);
    color: var(--white-color);
    margin-bottom: 1rem;
  }

  .footer__links,
  .footer__list {
    display: grid;
    row-gap: 0.5rem;
  }

  .footer__link {
    color: var(--text-color-light);
    transition: color 0.4s;
  }

  .footer__link:hover {
    color: var(--first-color);
  }

  .footer__social {
    display: flex;
    column-gap: 1rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
    color: var(--first-color);
    transition: transform 0.4s;
  }

  .footer__social-link:hover {
    transform: translateY(-0.25rem);
  }

  .footer__copy {
    display:block;
    text-align: left;
    font-size: var(--small-font-size);
    margin-top: 1rem;
    
  }
  

  /* ===================== CALLBACK BUTTON================== */
  .callback__button {
    display: block;
    position: fixed;
    background-color: hsl(120, 60%, 40%);
    height: 4rem;
   
    text-align: center;
   
    width: 100%;
    left: 0; 
     right: 0;
    bottom: 0;
    z-index: 10;
  }
  
  .callback__logo {
    color: var(--white-color);
    font-size: 2.5rem;
  
    margin: auto;
  }
  .callback__button span {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
  }

  /* =================== SCROLL BAR ===================== */
  ::-webkit-scrollbar {
    width: 4rem;
    background-color: hsl(255, 5%, 75%);
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(255, 5%, 65%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(255, 5%, 55%);
  }
  /* ===================== SCROLL UP ======================= */
  .scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    box-shadow: 0 4px 16px hsla(255, 90%, 8% 0.15);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom 0.4s, transform 0.4s;
  }

  .scrollup:hover {
    transform: translateY(-0.5rem);
  }
  /*  Show Scroll Up */
  .show-scroll {
    bottom: 4rem;
  }
  /* ===================== BREAKPOINTS ====================== */
 
  /*  For small devices */
   @media  screen and (max-width:340px) {
    .container{
      margin-inline:1rem ;
    }

    .section__title{
      font-size: 1.25rem;
    }


    .pocetna__title{
      font-size: 1.75rem;
    }

    .pocetna__buttons{
      flex-direction: column;
    }

    .pocetna__img-1{
      width: 200px;
      margin-left: 1.5rem;
    }
   

    .footer__content{
      grid-template-columns: repeat(2, max-content);
    }

  } 


  /*  For medium devices */
  @media  screen and (min-width:540px) {
    .pocetna__container,
    .onama__container,
    .servis__container,
    .projekti__container,
    .contact__container{
      grid-template-columns: 360px;
      justify-content: center;
    }

    .footer__content{
      grid-template-columns: repeat(3,max-content);
    }
  }

  @media screen and (min-width:768px) {
    .nav__menu{
      width: 50%;
    }
    .phone span{
    font-size: var(--medium-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--white-color)
  }
   .phone i{
    font-size:var(--medium-font-size);
    color: var(--white-color);
  }
    
    .projekti__container{
      grid-template-columns: repeat(2, 330px);
    }

    .contact__data{
      grid-template-columns: repeat(2,240px);
    }

    .footer__container{
      grid-template-columns: repeat(2,max-content);
      justify-content: space-between;
    }
  }

  /* For large devices */
  @media screen and (min-width: 1150px) {
    .container{
      margin-inline: auto;
    }

    .section{
      padding-block: 7rem 2rem ;
    }

    .nav{
      height: calc(var(--header-height) + 2rem);
    }

    .nav__toggle,
    .nav__close{
      display: none;
    }

    .nav__menu{
      width: initial;
    }
    .phone span{
    font-size: var(--medium-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--white-color)
  }
   .phone i{
    font-size:var(--medium-font-size);
    color: var(--white-color);
  }

    .nav__list{
      flex-direction: row;
      align-items: center;
      column-gap: 4rem;
    }

    .bg-header .nav__link{
      color: var(--text-color);
    }

    .bg-header .active-link,
    .bg-header .nav__link:hover{
      color: var(--first-color);
    }

    .bg-header .button,
    .bg-header .button:hover{
      background: var(--first-color);
      color: var(--white-color);
    }
    
    .pocetna__container{
      grid-template-columns: 475px 550px;
      column-gap: 6rem;
      align-items: flex-start;
      padding-top: 5.5rem;
    }

    .pocetna__content{
      row-gap: 4.5rem;
    }

    .pocetna__data{
      text-align: initial;
    }

    .pocetna__description{
      margin-bottom: 3rem;
    }

    .pocetna__buttons{
      justify-content: initial;
      column-gap: 3rem;
    }

    .pocetna__info{
      justify-content: initial;
      column-gap: 5.5rem;
    }

    .pocetna__info-description{
      font-size: var(--normal-font-size);
    }

    .pocetna__img-1{
      width: 550px;
      margin-left: 0;
    }

    .pocetna__img-2{
      width: 350px;
      border-width: 10px;
      left: -7rem;
      bottom: -8rem;
    }

    .pocetna__lines{
      object-position: center;
    }

    

    .servis__container{
      grid-template-columns: initial;
      row-gap: 5rem;
      padding-bottom: 4.5rem;
    }

    .servis__data{
      display: block;
      /* grid-template-columns: 415px 370px max-content; */
      justify-content: center;
      align-items: center;
    }

    .servis__data :is(.section__title, .section__subtitle),
    .servis__description{
      text-align: center;
    }

    .servis__data .section__title{
      margin-bottom: 2rem;
    }

    .servis__data .button{
      width: max-content;
     
    }
    .servis__data .button:hover{
      background-color: var(--second-color);
      color: var(--white-color);
    }

    .servis__swiper{
      max-width: 1100px;
    }

    .servis__card{
      width: 348px;
      border-width: 3px;
      padding: 3.5rem 2rem 6rem;
    }

    .servis__shape{
      height: 330px;
    }

    .swiper-button-next,
    .swiper-button-prev{
      bottom: 3rem;
    }

    .projekti__container{
      grid-template-columns: repeat(3,350px);
      column-gap: 2rem;
      padding-block: 5rem 4rem;
    }

    .projekti__card{
      border-width: 3px;
    }

    .projekt__date{
      padding: 2rem 1.5rem .5rem;
    }

    .contact :is(.section__title, .section__subtitle){
      text-align: center;
    }

    .contact__container{
      grid-template-columns: 530px 515px;
      justify-content: initial;
      align-items: flex-start;
      column-gap: 3.5rem;
      padding-block: 3.5rem 4rem;
    }


    .contact__img{
      width: 530px;
    }
    .contact__data{
      gap: 2rem;
    }

    .contact__card{
      border-width: 3px;
    }

    .contact__title{
      font-size: var(--h3-font-size);
    }

    .footer{
      padding-block: 4.5rem 3rem;
    }

    .footer__container{
      padding-bottom: 6rem;
    }

    .footer__content{
      column-gap: 7rem;
    }

    .footer__description{
      margin-block: 1.5rem;
    }

    .footer__title{
      margin-top: 1.5rem;
    }

    .footer__links,
    .footer__list{
      row-gap: 1rem;
    }
    .copy__span{
    color: var(--first-color);
    font-weight: var(--font-bold);
  }

    .scrollup{
      right: 3rem;
    }
    .callback__button{
    display: flex;
    text-align: center;
    border-radius: 50px;
    width: 400px;
    height: 5rem;
    margin: auto;
    }

  }
